@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import './toggle.css';
@import './popup.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #f9f9f9;
  --text: #181818;
}

body {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0.3em;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: var(--bg);
  color: var(--text);
}
